/*Import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/*CSS variables*/
:root {
    --primary-font: Merriweather, sans-serif;
    --secondary-font: Limelight, cursive;
    --highlight-light-color: #FFEA00; /* Canary yellow */
    --highlight-color: #000080; /* navy blue */
    --primary-color: #8B0000; /* dark red */
    --secondary-color: #000000; /* black */
    
}

/*Because of lighthouse error (https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/Heading_Elements#specifying_a_uniform_font_size_for_h1)*/
:where(h1) {
  margin-block: 0.67em;
  font-size: 2em;
}

/*Global styles*/
h3, h4, h5, h3.h4 {
    font-family: var(--secondary-font);
    color: #FFFFFF;
}

h1, h2, h1.h2 {
    font-family: var(--secondary-font);
    color: var(--highlight-light-color)
}

p {
    font-family: var(--primary-font);
    color: #FFFFFF;

}

body {
    background-color: var(--primary-color);
}

/*Logo name*/
.logo {
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--highlight-light-color);
}

/*Navbar styles*/
.navbar {
    background-color: var(--secondary-color);
}

.navbar a {
    font-family: var(--primary-font);
    color: #FFFFFF;
}

.nav-link.active {
    text-decoration: underline;
}

/*Search form styles*/
.search-form button, .search-form input {
    font-family: var(--primary-font);
    color: var(--highlight-light-color);
    
}

.search-form button {
    border-color: var(--highlight-light-color);
}
.search-form button:hover, .search-form button:active {
    background-color: var(--highlight-light-color);
    color: var(--highlight-color);
}

/*Index page styles*/
.movie-link {
    text-decoration: none;
    color: #FFFFFF;
}

.movie-card {
    padding-top: 0.75rem;
    background-color: var(--primary-color);
    border: 0;

}

.movie-card:hover, .movie-card:active {
    background-color: var(--highlight-light-color);
}

.movie-card:hover p, .movie-card:hover h3,
.movie-card:active p, .movie-card:active h3 {
    color: var(--highlight-color);

}

/*Button text pagination*/
.page-link {
    background-color: var(--highlight-light-color);
    color: var(--highlight-color);
    font-family: var(--primary-font);
    margin: 0.5rem;

}
.page-link:hover, .page-link:active {
    background-color: var(--highlight-color);
    color: var(--highlight-light-color);

}
 


/*Movie detail styles*/
.detail-heading {
    color: var(--highlight-light-color);
}

.review-col {
    border-top: 1px solid var(--secondary-color);
}

/*Form styles*/
/*White text color for form headers*/
#reviewForm label {
    color: #FFFFFF;
}

#reviewForm {
    margin-top: 1.3em;
}

/*Lines between reviews for better visual difference*/
.reviews {
    border-top: 1px solid #000000;
    
}
/*Texts after review*/
.italic {
    font-style: italic;
}

.approval p {
    font-size: x-small;
    color: var(--highlight-light-color);
}


/*My reviews page styles*/
.review-list {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
}
.my-review {
    border-top: 1px solid #000000;
    list-style: none;
}
.my-review a{
    text-decoration: none;
}
.my-review a:hover h2 {
    background-color: var(--highlight-light-color);
    color: var(--highlight-color);
}

/*Pop-up for messages and welcome/logout*/
.pop-up-message {
    font-family: var(--primary-font);
    color: var(--highlight-light-color);
    margin-right: 12px; /*Aligns with right border of movie poster*/

}
/*Border is set here so it does not show when clicked away*/
.pop-up-border {
    border: 1px solid var(--highlight-light-color);
    background-color: var(--highlight-color);
}
/*Styles modal*/
.modal-title {
    color: var(--highlight-light-color);
}
.modal-content{
    background-color: var(--highlight-color);


}

/*Log in and register page styles*/
.auth-link {
    color: var(--highlight-light-color);
    text-decoration: underline;
}

.auth-link:hover, .auth-link:active {
    background-color: var(--highlight-color);                               
}

/*Button styles*/
.btn-signup,
.btn-edit, 
.btn.error-button {
    background-color: var(--highlight-color);
    color: var(--highlight-light-color);
    font-style: normal;
}

.btn-signup:hover,
.btn-signup:active, 
.btn-edit:hover, 
.btn-edit:active,
.btn.error-button:hover, 
.btn.error-button:active {
    background-color: var(--highlight-light-color);
    color: var(--highlight-color);
}

.btn-delete {
    color: var(--highlight-light-color);
    background: var(--secondary-color);
}
.btn-delete:hover, .btn-delete:active {
    border-color: var(--highlight-light-color);
    color: var(--highlight-light-color);

}


/*Footer styles*/
footer {
    background-color: var(--secondary-color);
    padding: 0.5rem 0; /*padding same as navbar*/
}
footer a {
    color: #FFFFFF;
}

/*Media queries*/
/*Poster in movie_detail html size smaller on larger screens, and floats to the right of its container*/
@media screen and (min-width: 992px) {
    
    .poster-detail{
        max-height: 414px;
        width: auto;
        float: right;
    }

}
/*Movie poster in search and index different heights according to screen size*/

@media screen and (min-width: 1400px) {
    
    .movie-poster {
       height: 624px;
       -o-object-fit: cover;
          object-fit: cover;
       
       
    }

}
  
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    
    .movie-poster {
       max-height: 534px;
       -o-object-fit: cover;
          object-fit: cover;
       
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    
    .movie-poster {
       max-height: 444px;
       -o-object-fit: cover;
          object-fit: cover;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .movie-poster {
       max-height: 324px;
       -o-object-fit: cover;
          object-fit: cover;
       
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    
    .movie-poster{
       max-height: 234px;
       -o-object-fit: cover;
          object-fit: cover;
    }
}

/* Customise padding pop-up-message so it does not cover navbar and aligns witih other content to the right in index page*/

@media screen and (max-width: 991px) {

    .pop-up-message{
        padding: 1rem 0 1rem;
    }
}



/*Reduce padding movie_list to make place for longer words*/

@media screen and (min-width: 576px) {
    
    .card-body{
       padding: 0.5rem;
    }
}


/*Reduce movie poster size for smaller screens and center it, center text underneath*/

@media screen and (max-width: 575px) {
    /*Used https://www.w3schools.com/css/css3_image_center.asp for this code*/
    .movie-poster {
       width: 50%;
       display: block;
       margin: auto;
    }
    .card-body {
        text-align: center;

    }
}
























