/*Import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/*CSS variables*/
:root {
    --primary-font: Merriweather, sans-serif;
    --secondary-font: Limelight, cursive;
    --highlight-light-color: #FFEA00; /* Canary yellow */
    --highlight-color: #000080; /* navy blue */
    --primary-color: #8B0000; /* dark red */
    --secondary-color: #000000; /* black */
    
}

/*Global styles*/
h3, h4, h5 {
    font-family: var(--secondary-font);
    color: #FFFFFF;
}

h1, h2 {
    font-family: var(--secondary-font);
    color: var(--highlight-light-color)
}

p {
    font-family: var(--primary-font);
    color: #FFFFFF;

}

body {
    background-color: var(--primary-color);
}

/*Logo name*/
.logo {
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--highlight-light-color);
}

/*Navbar styles*/
.navbar {
    background-color: var(--secondary-color);
}

.navbar a {
    font-family: var(--primary-font);
    color: #FFFFFF;
}

/*Search form styles*/
.search-form button, .search-form input {
    font-family: var(--primary-font);
    color: var(--highlight-light-color);
    
}

.search-form button {
    border-color: var(--highlight-light-color);
}
.search-form button:hover{
    background-color: var(--highlight-light-color);
    color: var(--highlight-color);
}

/*Index page styles*/
.movie-link {
    text-decoration: none;
    color: #FFFFFF;
}

.movie-card:hover {
    background-color: var(--highlight-light-color);
}

.movie-card:hover p, .movie-card:hover h3 {
    color: var(--highlight-color);

}
/*Top pick button styles*/
.top-pick-button {
    background-color: var(--highlight-light-color);
    color: var(--highlight-color);
    font-family: var(--primary-font);


}
.top-pick-button:hover {
    background-color: var(--highlight-color);
    color: var(--highlight-light-color);

}


/*Button text pagination*/
.page-link {
    background-color: var(--highlight-light-color);
    color: var(--highlight-color);
    font-family: var(--primary-font);
    margin: 0.5rem;

}

/*Movie detail styles*/
.detail-heading {
    color: var(--highlight-light-color);
}

.review-col {
    border-top: 1px solid var(--secondary-color);
}

/*Form styles*/
/*White text color for form headers*/
#reviewForm label {
    color: #FFFFFF;
}

#reviewForm {
    margin-top: 1.3em;
}

/*Lines between reviews for better visual difference*/
.reviews {
    border-top: 1px solid #000000;
    
}

/*My reviews page styles*/
.review-list {
    padding-inline-start: 0;
}
.my-review {
    border-top: 1px solid #000000;
    list-style: none;
}
.my-review a{
    text-decoration: none;
}
.my-review a:hover h2 {
    background-color: var(--highlight-light-color);
    color: var(--highlight-color);
}

/*Pop-up for messages and welcome/logout*/
.pop-up-message {
    z-index: 99;

}
/*Styles modal*/
.modal-content{
    background-color: var(--highlight-color);


}

/*Footer styles*/
footer {
    background-color: var(--secondary-color);
    padding: 0.5rem 0; /*padding same as navbar*/
}
footer a {
    color: #FFFFFF;
}
/*Media queries*/
/*Poster in movie_detail html size smaller on larger screens, and floats to the right of its container*/
@media (min-width: 992px) {
    
    .poster-detail{
        max-height: 414px;
        width: auto;
        float: right;
    }

  }
/*Movie poster in search and index*/
@media (min-width: 576px) {
    
    .movie-poster{
       
       height: 234px;
       object-fit: cover;
       
       
    }


}


  @media (min-width: 992px) {
    
    .movie-poster{
       
       height: 444px;
       object-fit: cover;
       
       
    }

  }
  @media (min-width: 1200px) {
    
    .movie-poster{
       
       height: 534px;
       object-fit: cover;
       
       
    }

  }

  @media (min-width: 1400px) {
    
    .movie-poster{
       
       height: 624px;
       object-fit: cover;
       
       
    }

  }
  


/*Below styles are from blog walkthrough*/





.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}









.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}