{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<main class="container">

    <!--Three highlighted movies picked by the superuser-->
    {% if page_obj.number == 1 %}
    <div class="row">
        <h2>My top pics</h2>
        <div class="col-12 mt-3">
            <div class="row">
                {% for movie in top_picks %}        
                <div class="card col-sm-4">
                    <img src="/static/images/image-test-1.jpg" class="card-img-top card-custom" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{ movie.movie_title }}</h5>
                    {% if movie.pick_motivation %}
                    <p class="card-text">{{ movie.pick_motivation }}</p>
                    {% endif %}
                    <a href="{% url 'movie_detail' movie.slug %}" class="btn btn-primary">Check it out</a>
                    </div>
                </div>
                {% endfor %} 
            </div>
        </div>
    </div>
    {% endif %}


    <!--All movies-->
    <div class="row">
        <h2>All movies</h2>
        <div class="col-12 mt-3">
            <div class="row">
                {% for movie in object_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    
   
                                </div>
                            </div>
                            <a href="{% url 'movie_detail' movie.slug %}" class="post-link">
                                <h2 class="card-title">{{ movie.movie_title }}</h2>
                               <!--Displays rating if there are approved reviews, rounds it to two decimals-->
                               <!--Same code as in movie_detail.html and search_results.html-->
                                {% if movie.approved_reviews %}
                                <p>Rating: {{ movie.get_average_rating|floatformat:2}} ({{ movie.approved_reviews.count }})</p>
                                {% else %}
                                <p>No rating yet</p>
                                {% endif %}
                                
                            </a>
                            <p>Released: {{movie.release_date}}</p>
                            <p>Country: {{movie.country}}</p>
                            
                        
                            <p>{{movie.plot}}</p>

                            <hr />
                            <p class="card-text text-muted h6">{{ movie.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </main>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}"
                class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}