{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<main class="container">

    <!--Three highlighted movies picked by the superuser-->
    {% if page_obj.number == 1 %}
    <div class="row">
        <h2>My top pics</h2>
        <div class="col-12 mt-3">
            <div class="row">
                {% for movie in top_picks %}        
                <div class="card col-sm-4">
                    <img src="/static/images/image-test-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h3 class="card-title h5">{{ movie.movie_title }}</h3>
                    {% if movie.pick_motivation %}
                    <p class="card-text">{{ movie.pick_motivation }}</p>
                    {% endif %}
                    <a href="{% url 'movie_detail' movie.slug %}" class="btn btn-primary">Check it out</a>
                    </div>
                </div>
                {% endfor %} 
            </div>
        </div>
    </div>
    {% endif %}

    <!--Testing API
    <div class="row" >
        <form method="get" action="{% url 'home' %}">
            <select class="btn btn-primary dropdown-toggle" name="category" onchange="this.form.submit()" >
                <option value="popular" {% if category == 'popular' %} selected {%endif%}>Popular</option>
                <option value="now_playing" {% if category == 'now_playing' %} selected {%endif%}>Now Playing</option>
                <option value="top_rated" {% if category == 'top_rated' %} selected {%endif%}>Top Rated</option>
                <option value="upcoming" {% if category == 'upcoming' %} selected {%endif%}>Upcoming</option>
        
            </select>
        </form>

        <h2>All movies</h2>
        <div class="col-12 mt-3">
            <div class="row card-deck">
                
                {% for movie in data %}
                    <div class="col-sm-4 card mb-4">
                        <img class="card-img-top" src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" alt="Card image cap">

                        <div class="card-body">
                            <h3 class="card-body">{{ movie.title }}</h3>
                                
                            
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>-->
    <!--All movies-->
    <div class="row">
        <h2>All movies</h2>
        <div class="col-12 mt-3">
            <div class="row">
                {% for movie in object_list %}
                
                    <div class="card mb-4 col-sm-4">
                        

                        {% if "placeholder" in movie.featured_image.url %}
                        <img class="card-img-top movie-poster" src="{% static 'images/nobody.jpg' %}"
                          alt="placeholder image">
                        {% else %}
                        <img class="card-img-top movie-poster" src=" {{ movie.featured_image.url }}"
                          alt="{{ movie.movie_title }} movie poster">
                        {% endif %}

                        <div class="card-body">
                            
                            <a href="{% url 'movie_detail' movie.slug %}" class="post-link">
                                <h3 class="card-title h5">{{ movie.movie_title }}</h3>
                            </a>   
                               <!--Displays rating if there are approved reviews, rounds it to two decimals-->
                               <!--Same code as in movie_detail.html and search_results.html-->
                                {% if movie.approved_reviews %}
                                <p>Rating: {{ movie.get_average_rating|floatformat:2}} ({{ movie.approved_reviews.count }})</p>
                                {% else %}
                                <p>No rating yet</p>
                                {% endif %}

                            <p>Released: {{movie.release_date}}</p>
                            <p>Country: {{movie.country}}</p>

                            <p>{{ movie.genre.all|join:", " }}</p>
                        </div>
                    </div>
                
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </main>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}"
                class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}