{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Rates 'R Us | Home</title>
{% endblock %}

{% block description %}
<meta name="description" content="Check Moby's top picks and all movies.">
{% endblock %}

{% block content %}

<!-- index.html content starts here -->
<main class="container">
    <h1 class="visually-hidden">Top picks and all movies</h1>
    <!--Three highlighted movies picked by the superuser on first page-->
    {% if page_obj.number == 1 %}
    <section class="row">
        
        <div class="col-12 mt-3">
            <h2>My top pics</h2>
            <div class="row">
                {% for movie in top_picks %}        
                <div class="card mb-4 col-sm-4 movie-card">
                    <a href="{% url 'movie_detail' movie.slug %}" class="movie-link">

                        {% if "placeholder" in movie.featured_image.url %}
                        <img class="card-img-top movie-poster" src="{% static 'images/placeholder.webp' %}"
                            alt="placeholder image">
                        {% else %}
                        <img class="card-img-top movie-poster" src=" {{ movie.featured_image.url }}"
                            alt="{{ movie.movie_title }} movie poster">
                        {% endif %}

                    <div class="card-body">
                    <h3 class="card-title h5">{{ movie.movie_title }}</h3>
                    {% if movie.pick_motivation %}
                    <p class="card-text">{{ movie.pick_motivation }}</p>
                    {% endif %}
                    </div>
                    </a>
    
                </div>
                {% endfor %} 
            </div>
        </div>
    </section>
    {% endif %}

    <!--All movies-->
    <section class="row mt-3">
        <h2>All movies</h2>
        {% include 'movie/movie_list.html'%}
    </section>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}"
                class="btn btn-primary page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</main>

<!-- index.html content ends here -->
{% endblock %}