{% load static %}



<div class="col-12 mt-3">
    <div class="row">
        {% for movie in object_list %}
            <div class="card mb-4 col-sm-4 movie-card">
                <a href="{% url 'movie_detail' movie.slug %}" class="movie-link">

                {% if "placeholder" in movie.featured_image.url %}
                <img class="card-img-top movie-poster" src="{% static 'images/nobody.jpg' %}"
                    alt="placeholder image">
                {% else %}
                <img class="card-img-top movie-poster" src=" {{ movie.featured_image.url }}"
                    alt="{{ movie.movie_title }} movie poster">
                {% endif %}

                <div class="card-body">                    
                    <h3 class="card-title h5">{{ movie.movie_title }}</h3>                    
                    <!--Displays rating if there are approved reviews, rounds it to two decimals-->
                    <!--Same code as in movie_detail.html and search_results.html-->
                    {% if movie.approved_reviews %}
                    <p>Rating: {{ movie.get_average_rating|floatformat:2}} ({{ movie.approved_reviews.count }})</p>
                    {% else %}
                    <p>No rating yet</p>
                    {% endif %}
                    <p>Released: {{movie.release_date}}</p>
                    <p>Country: {{movie.country}}</p>
                    <p>{{ movie.genre.all|join:", " }}</p>
                </div>
                </a>
            </div>
        
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}

    </div>
</div>

