{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Movie title goes in these h1 tags -->
                <h1 class="post-title">{{ movie.movie_title }}</h1>
                <!-- Movie release date -->
                <p class="post-subtitle">{{ movie.release_date }}</p>
                <p class="post-subtitle">{{ movie.genre.all|join:", " }}</p>
                <p class="post-subtitle">{{ movie.cast.all|join:", " }}</p>
                <p class="post-subtitle">{{ movie.directed_by.all|join:", " }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/nobody.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The movie content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ movie.plot | safe }}
                </p>
            </div>
        </div>
    </div>
     <!-- Displaying count of reviews -->
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ review_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <!-- Displaying reviews -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Reviews:</h3>
      <div class="card-body">
        <!-- Iterate through each review in reviews -->
        {% for review in reviews %}
        <div class="p-2 comments
          {% if not review.approved and review.author == user %}
          faded{% elif not review.approved %} d-none{% endif %}">
          <p class="font-weight-bold">
            {{ review.author }}
            <span class="font-weight-normal">
              {{ review.created_on }}
            </span> wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ review.text | linebreaks }}
          </div>
          {% if not review.approved and review.author == user %}
          <p class="approval">
            This review is awaiting approval
          </p>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}