{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<article>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 text-center text-md-start">
               
                <h1>{{ movie.movie_title }}</h1>
                <!--Displays rating if there are approved reviews, rounds it to two decimals-->
                <!--Same code as in index.html and search_results.html-->
                {% if movie.approved_reviews %}
                <p>Rating: {{ movie.get_average_rating|floatformat:2}} ({{ movie.approved_reviews.count }})</p>
                {% else %}
                <p>No rating yet</p>
                {% endif %}
                
                <p>{{ movie.release_date }}</p>
                <p>{{ movie.genre.all|join:", " }}</p>
                <p>Cast: {{ movie.cast.all|join:", " }}</p>
                <p>Directed by: {{ movie.directed_by.all|join:", " }}</p>
            </div>
            <div class="col-md-5">
              {% if "placeholder" in movie.featured_image.url %}
              <img class="img-fluid poster-detail" src="{% static 'images/nobody.jpg' %}"
                alt="placeholder image">
              {% else %}
              <img class="img-fluid poster-detail" src=" {{ movie.featured_image.url }}"
                alt="{{ movie.movie_title }} movie poster">
              {% endif %}
            </div>
        </div>
    



    <div class="row justify-content-center">
        <div class="col-10 mb-4 mt-3">
            <div>
                <p>{{ movie.plot | safe }}</p>
            </div>
        </div>
        
        {% if movie.pick_motivation %}
        <div class="col-10 mb-4 mt-3">
          <div>
            <h2 class="h5">My review</h2>
            <p>{{ movie.pick_motivation }}</p>
          </div>{% endif %}
        </div>
    </div>
     
  
</article>

<div class="container">

  <!-- Leave review form -->
  <section>
  <div class="row justify-content-center">
    <div class="col-md-10 mb-4 mt-3">
      
      
        <!-- Displaying count of reviews -->
      <p><i class="fa-solid fa-comments"></i> {{ movie.approved_reviews.count }}</p>
        {% if user.is_authenticated %}
        <!--
        Regulates on the frontend that form is not visible for user that already left a review. Need to update page after leaving first review. 
        But defensive error is also in place in the view. According to Darius Mandres in 
        https://stackoverflow.com/questions/46082573/django-forms-allow-logged-in-user-to-submit-only-one-comment-per-individual-pos
        -->
        <h2>Have your say!</h2>
        <p>Rate this movie and leave a review (optional). Max 1 review per user per movie.</p>
        <p>Posting as: {{ user.username }}</p>
        <form id="reviewForm" method="post"
          style="margin-top: 1.3em;">
          {{ review_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit"
            class="btn btn-signup btn-lg">Submit</button>
        </form>

          <!--{% if not user_reviews %}-->

          <!--form code
          It works now that with a lot of reviews, when you click edit, you go to the form. 
          But I want to fix that the form does not show when you left a review, but appears when you edit a review-->
          
          <!--{% else %}
          <h2>You already reviewed this movie, but you can edit your review.</h2>
          {% endif %}-->

        {% else %}
        <p><a class="link" href="{{ signup_url }}">Register</a> or <a class="link" href="{{ login_url }}">log in</a> to add a review!</p>
        {% endif %}
      
    </div>
  </div>
  </section>
  <section>
    <div class="row justify-content-center">

    <!-- Displaying reviews -->
    <div class="col-md-10 mb-4 mt-3">
      
      <div>
        <h2>Reviews</h2>
        <!-- Iterate through each review in reviews -->
        {% for review in reviews %}
        <!--review.id makes it possible to link to the specific review form my reviews page-->
        <div id= "{{ review.id }}" class="p-2 reviews
          {% if not review.approved and review.author == user %}
          faded{% elif not review.approved %} d-none{% endif %}">
          <p class="font-weight-bold">
            {{ review.author }}
            <span class="font-weight-normal">
              {{ review.created_on }}
            </span> wrote:
          </p>
          <!--Display title if the title is not empty (otherwise it displays 'None')-->
          {% if review.title %}
          <div id="review_title{{ review.id }}">
            <h4>{{ review.title }}</h4>
          </div>
          {% endif %}
          <div id="review_rating{{ review.id }}">
          <p>Rating: {{ review.rating }}</p>
          </div>

          <div id="review_text{{ review.id }}">
            <p>{{ review.text | linebreaks }}</p>
          </div>
          {% if not review.approved and review.author == user %}
          <div class="approval">
            <p>This review is awaiting approval</p>
          </div>
          {% endif %}
          <!--Display delete and edit buttons when logged in user has written the review-->
          {% if user.is_authenticated and review.author == user %}
          <button class="btn btn-delete"  review_id="{{ review.id }}">Delete</button>
          <a class="btn btn-edit" role="button" href="#reviewForm" review_id="{{ review.id }}">Edit</a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div></div>
  </section>
  
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete review?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete your review?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block extras %}
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock %}