<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<body>
    <h1>Movies list</h1>
    {% for movie in object_list %}
    <h2>{{movie.movie_title}}</h2>
    <p>Released: {{movie.release_date}}</p>

    <!--Below many-to-many fields are iterated through and separated by comma, maybe can fix this later with detail view.-->
    <p>Genre:     
        {% for genre in movie.genre.all %}
        {% if not forloop.last %}
        {{genre}}, {% else %}
        {{genre}}
        {% endif %}
        {% endfor %}
    </p>
   
    <p>Cast: {% for actor in movie.cast.all %}
        {% if not forloop.last %}
        {{actor}}, {% else %}
        {{actor}}
        {% endif %}
        {% endfor %}</p>

    <p>Directed by: {% for director in movie.directed_by.all %}
        {% if not forloop.last %}
        {{director}}, {% else %}
        {{director}}
        {% endif %}
        {% endfor %}</p> 

    <p>{{movie.plot}}</p>
    {% endfor %}
</body>

</html>