{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
               
                <h1 class="post-title">{{ movie.movie_title }}</h1>
                <!--Displays rating if there are approved reviews, rounds it to two decimals-->
                {% if approved_reviews %}
                <p>Rating: {{ average_rating|floatformat:2 }} ({{ review_count }})</p>
                {% else %}
                <p>No rating yet</p>
                {% endif %}
                <p class="post-subtitle">{{ movie.release_date }}</p>
                <p class="post-subtitle">{{ movie.genres.all|join:", " }}</p>
                <p class="post-subtitle">{{ movie.cast.all|join:", " }}</p>
                <p class="post-subtitle">{{ movie.directed_by.all|join:", " }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
              {% if "placeholder" in movie.featured_image.url %}
              <img class="card-img-top" src="{% static 'images/nobody.jpg' %}"
                alt="placeholder image">
              {% else %}
              <img class="card-img-top" src=" {{ movie.featured_image.url }}"
                alt="{{ movie.movie_title }}">
              {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The movie content goes inside the card-text. -->
                
                <p class="card-text">
                    {{ movie.plot | safe }}
                </p>
            </div>
        </div>
    </div>
     <!-- Displaying count of reviews -->
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ review_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <!-- Displaying reviews -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Reviews:</h3>
      <div class="card-body">
        <!-- Iterate through each review in reviews -->
        {% for review in reviews %}
        <div class="p-2 reviews
          {% if not review.approved and review.author == user %}
          faded{% elif not review.approved %} d-none{% endif %}">
          <p class="font-weight-bold">
            {{ review.author }}
            <span class="font-weight-normal">
              {{ review.created_on }}
            </span> wrote:
          </p>
          <!--Display title if the title is not empty (otherwise it displays 'None')-->
          {% if review.title %}
          <div id="review_title{{ review.id }}">
            <h4>{{ review.title }}</h4>
          </div>
          {% endif %}
          <div id="review_rating{{ review.id }}">
          Rating: {{ review.rating }}
          </div>

          <div id="review_text{{ review.id }}">
            {{ review.text | linebreaks }}
          </div>
          {% if not review.approved and review.author == user %}
          <p class="approval">
            This review is awaiting approval
          </p>
          {% endif %}
          <!--Display delete and edit buttons when logged in user has written the review-->
          {% if user.is_authenticated and review.author == user %}
          <button class="btn btn-delete" review_id="{{ review.id }}">Delete</button>
          <button class="btn btn-edit" review_id="{{ review.id }}">Edit</button>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Leave review form -->
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
          {% if user.is_authenticated %}
          <h3>Have your say!</h3>
          <p>Rate this movie and leave a review (optional).</p>
          <p>Posting as: {{ user.username }}</p>
          <form id="reviewForm" method="post"
            style="margin-top: 1.3em;">
            {{ review_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit"
              class="btn btn-signup btn-lg">Submit</button>
          </form>
          {% else %}
          <p><a class="link" href="{{ signup_url }}">Register</a> or <a class="link" href="{{ login_url }}">log in</a> to add a review!</p>
          {% endif %}
        </div>
      </div>
  </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete review?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your review?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block extras %}
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock %}