{% extends 'base.html' %} 
{% load static %}


{% block content %}
<main class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 mt-3">
<h1>My reviews</h1>

{% if my_reviews %}
<ul class="row review-list">
    <!--Iterates through the reviews by the user-->
    {% for review in my_reviews %}
    
    
    <li class="my-review py-3"><!--Iterates through all movies-->
        {% for movie in movies%}<a href="{% url 'movie_detail' movie.slug %}#{{review.id}}">
        <!--When movie in movie model is the same as the reviewed movie in review model, it can use the movie.slug to link to the correct movie, and review.id to link to the review-->
        {% if movie == review.movie %}
        <h2>{{review.movie}}</h2>
        {% endif %}</a>
        {% endfor %}
        <p>Rating: {{review.rating}}</p>
        {% if review.title %}
        <h3>{{review.title}}</h3>
        {% endif %}
        {% if review.text %}
        <p>{{review.text}}</p>
        {% endif %} 
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You have no reviews yet.</p>

{% endif %}
        </div>
    </div>
</main>

{% endblock %}