{% extends 'base.html' %} 
{% load static %}

{% block title %}
<title>Rates 'R Us | My reviews</title>
{% endblock %}

{% block description %}
<meta name="description" content="Check all the reviews you have submitted.">
{% endblock %}

{% block content %}
<main class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 mt-3">
<h1>My reviews</h1>

{% if my_reviews %}
<p>Click on the movie title to go to your review, where you can edit or delete it.</p>
<ul class="row review-list">
    <!--Iterates through the reviews by the user-->
    {% for review in my_reviews %}
    
    
    <li class="my-review py-3">
        <!--Iterates through all movies-->
        {% for movie in movies %}
        {% if movie == review.movie %}
        <a href="{% url 'movie_detail' movie.slug %}#{{review.id}}" aria-label="Link to your review of {{movie.movie_title}}">
        <!--When movie in movie model is the same as the reviewed movie in review model, it can use the movie.slug to link to the correct movie, and review.id to link to the review-->
        <h2>{{review.movie}}</h2>
        </a>
        {% endif %}
        {% endfor %}
        <p>Rating: {{review.rating}}</p>
        {% if review.title %}
        <h3>{{review.title}}</h3>
        {% endif %}
        {% if review.text %}
        <p>{{review.text}}</p>
        {% endif %} 
        <p>Created on: {{review.created_on}}</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You have no reviews yet.</p>

{% endif %}
        </div>
    </div>
</main>

{% endblock %}